/* General Styles */
html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
    padding: 0 16px ;
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
}

/* Title */
.title {
    font-size: 18px;
    color: #333;
}

/* Date Selector */
.date-selector {
    height: 10%;
    margin-top: 10px;
    padding: 0;
}

.dates {
    display: flex;
    flex-direction: row;
    padding: 12px 0;
    justify-content: space-evenly;
}

.date {
    background: #ddd;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
}

.selected {
    background: #4a5fe2;
    color: white;
}

/* Report Section */
.report-title {
    font-size: 16px;
    color: #444;
}

.report {
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

/* Report Cards */
.card {
    height: 22%;
    display: flex;
    align-items: center;
    background: white;
    padding: 4px 15px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.details {
    display: flex;
    margin: 0;
    margin-left: 10px;
    flex-direction: column;
    justify-content: space-around;
}

.label {
    font-size: 16px;
    color: gray;
}

.value {
    font-size: 18px;
    font-weight: bold;
}

.navBar{
    margin-top: 8%;
    align-items: center;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #192126;
    border-radius: 50px;
}
.iconNavBar {
    width: 26px;
    height: 26px;
}
.selectedIconNavBar{
    padding: 8px;
    border-radius: 10px;
    background-color: #a5b2e2;
}
